@import "general.css";

html {
    background-image: linear-gradient(rgba(11,13,23,0.25),rgba(11,13,23,0.25)),
                      url("../assets/crew/background-crew-desktop.jpg");
}

.pageNmbr {
    opacity: 0.25;
}

h5 {
    margin-top: 76px;
    margin-bottom: 0px;
}

.crewDesc .selectedDesc h4 {
    opacity: 0.5042;
    padding: 0px;
}

.crewDesc .selectedDesc h3 {
    margin-top: 15px;
    margin-bottom: 3vh;
    width: 615px;
}

.crewDesc {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    max-width: 445px;
    margin-top: 17vh;
    margin-bottom: 10.4vh;
    z-index: 1;
}

.crewPic {
    flex-grow: 1;
    justify-content: space-around;
    margin-top: auto;
    max-height: inherit;
    display: inline-flex;
    position: relative;
    width:50vw; 
    margin-right: -11.5vw;
}

.selectedDesc {
    max-height: 400px;
    height: auto;
}


h5 {
    margin-left: 11.5vw;
    margin-right: auto;
    height: 28px;
    line-height: 28px;
    margin-bottom: 0px;
    margin-top: 76px;
}

.crewPic .crewPicImg {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
}

.selectedDesc, .crewPicImg {
    display: none;
    flex-direction: column;
}

.crewPicImg {
    position: absolute;
    max-width: 100%;
    bottom: 0px;
}

.checkmark {
    background-color: white;
    height: 15px;
    width: 15px;
    border-radius: 15px;
}

input[type=radio] {
    height: 15px;
    width: 15px;
    color: white;
    opacity: 0.174363;
    margin-right: 24px;
}

input[type=radio]::after {
    opacity: 1;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    position: relative;
    background-color: white;
    content: '';
    display: inline-block;
    visibility: hidden; 
    cursor: pointer;
}

input[type=radio]:hover {
    opacity: 0.500094;
}

input[type=radio]:hover::after {
    visibility: visible; 
}

input[type=radio]:checked {
    opacity: 1;
}

input[type=radio]:checked::after {
    visibility: visible; 
}

@media (max-width: 1023px) {
    
    html {
        background-image: linear-gradient(rgba(11,13,23,0.25),rgba(11,13,23,0.25)),
                          url("../assets/crew/background-crew-tablet.jpg");
    }
    
    .crewDesc {
        height: 23vh;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        min-width: 100%;
    }
    
    h5 {
        margin-top: 40px;
    }
    
    p {
        max-width: 593px;
        text-wrap: balance;
    }
    
    .crewPic {
        min-width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 4vh;
    }
    
    .crewPicImg {
        max-width: none;
        width: auto;
        max-height: 100%;
    }

    .crewDesc .selectedDesc h3 {
        margin-top: 8px;
        margin-bottom: 16px;
        width: 100%;
    }
    
    input[type=radio] {
        margin-right: 16px;
    }
    
    input[type=radio]:last-of-type {
        margin-right: 0px;
    }
}