@import "general.css";

html {
    background-image: linear-gradient(rgba(11,13,23,0.25),rgba(11,13,23,0.25)),
                      url(../assets/destination/background-destination-desktop.jpg);
}

.mainBody {
    margin-bottom: 13.1vh;
}

input[type=radio] ~label {
    min-height: 46px;
    font-size: 16px;
    letter-spacing: 2.7px;
    box-shadow: none;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 35px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

input[type=radio] ~label:last-of-type {
    margin-right: 0px;
}

input[type=radio] {
    display: none;
}

input[type=radio]:checked + label {
    border-bottom: 3px solid white;
}

input[type=radio]:hover + label {
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

h5 {
    margin-left: 11.5vw;
    margin-right: auto;
    height: 28px;
    margin-bottom: 0px;
    margin-top: 76px;
}

.planetDesc {
    max-width: 444px;
    max-height: 472px;
    display: inline-flex;
    flex-direction: column;
    margin-bottom: auto;
    margin-top: auto;
}

.planetBody {
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}

.planetFooter {
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.dist, .time {
    width: 50%;
    display: inline-flex;
    flex-direction: column;
}

.planetPic {
    height: auto;
    width: 50%;
    position: relative;
    margin-top: auto;
    display: inline-flex;
    flex-direction: column;
}

.planetPicImg {
    position: relative;
    max-width: 100%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.separator {
    left: 0;
    margin-top: 6vh;
    margin-bottom: 3vh;
    max-height: 1px;
    
}

#planet-choice {
    min-height: 28px;
    min-width: 0px;
    width: auto;
    height: auto;
    margin-bottom: 4.1vh;
}

.planetDesc h2 {
    margin-bottom: 2vh;
}

@media(max-width: 1023px) {
    
    html {
        background-image: linear-gradient(rgba(11,13,23,0.25),rgba(11,13,23,0.25)),
                          url(../assets/destination/background-destination-tablet.jpg);
    }
    .mainBody {
        flex-direction: column;
        margin-bottom: 6.05vh;
        width: 74.6vw;
    }
    
    h5 {
        margin-top: 40px;
    }
    
    .planetDesc {
        align-content: center;
        text-align: center;
        min-width: 100%;
        margin-top: auto;
        margin-bottom: 0px;
    }
    
    .planetBody {
        width: 100%;
    }
    
    .planetPic {
        width: 51%;
    }
    

    input[type=radio] ~label {
        min-height: 31px;
    }

    .planetDesc h2 {
        margin-bottom: 0.78vh;
    }
    
    #planet-choice  {
        margin-top: 5.2vh;
        min-height: 31px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2.8vh;
    }

    .separator {
        visibility: visible;
        margin-top: 4.7vh;
        margin-bottom: 2.7vh;
    }
}

@media(max-width: 599px) {
    
    html {
        background-image: linear-gradient(rgba(11,13,23,0.25),rgba(11,13,23,0.25)),
                          url(../assets/destination/background-destination-mobile.jpg);
    }
    
    h5 {
        margin-left: auto;
        margin-right: auto;
        height: 19px;
        margin-bottom: 32px;
        margin-top: 0px;
    }
    
    p {
        min-height: auto;
        max-height: inherit;
    }
    
    
    .planetPic {
        width: 45vw;
        margin-top: 0px;
    }
    
    .planetDesc {
        margin-top: 0px;
        width: 87.2vw;
    }
    
    #planet-choice {
        margin-top: 24px;
        height: 25px;
        margin-bottom: 20px;
        max-width: auto;
    }
    
    .planetFooter {
        align-items: center;
        flex-direction: column;
    }
    
    .planetBody h2 {
        margin-bottom: 1px;
    }
    
    .separator {
        margin-top: 32px;
        margin-bottom: 32px;
    }
    
    
    .dist {
        margin-bottom: 32px;
    }
    
    #planet-choice label {
        margin-right: 26px;
    }
    
    #planet-choice label:last-of-type {
        margin-right: 0px;;
    }
}