html {
    background-color: #0B0D17;
}

body {
    font-family: 'Barlow', serif;
    font-size: 18px;
    color: #D0D6F9;
    font-weight: 400;
    min-width: 100vw;
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    line-height: 32px;
    max-height: 100vh;
    max-width: 100vw;
    align-items: center;
    overflow: hidden;
}


html > * {
    font-size: 18px;
    color: #D0D6F9;
    font-weight: 400;
}

.mainBody {
    margin-top, margin-left, margin-right: auto;
    display: inline-flex;
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 13vh;
    width: 77vw;
    max-height: 77vh;
    justify-content: space-between;
    max-width: 1440px;
}

.pageNmbr {
    opacity: 0.25;
    margin-right: 28px;
}

h1, h2, h3, h4, .subh1 {
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}
h1 {
    font-size: 150px;
}

h2 {
    font-size: 100px;
}

h3 {
    font-size: 56px;
}

h4 {
    font-size: 32px;
}

h5, .subh2, .subh3, nav {
    font-family: 'Barlow condensed', serif;
    text-transform: uppercase;
    color: #D0D6F9;
    font-weight: 400;
}

h5 {
    font-size: 28px;
    letter-spacing: 4.75px;
}

.subh1 {
    font-size: 28px;
}

.subh2 {
    font-size: 14px;
    letter-spacing: 2.35px;
}

.subh3, nav {
    font-size: 16px;
    letter-spacing: 2.7px;    
}

nav {
    display: inline-flex;
    min-width: 100%;
    margin-top: 40px;
    height: 10vh;
    min-height: 96px;
    font-family: 'Barlow Condensed', serif;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
}



p {
    max-width: 444px;
    margin: 0px;
    max-height: 192px;
}

nav > * { 
    margin-top: auto;
    margin-bottom: auto;
    display: inline-flex;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

nav img {
    margin-left: 55px;
    margin-right: 35px;
    max-height: 48px;
    max-width: 48px;
}
ol {
    color: #FFF;
    letter-spacing: 2.7px;
    flex-wrap: wrap;
    padding-left: 0px;
    height: 100%;
    max-width: 830px;
    width: 100%;
    counter-reset: nav-counter;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.774227142333984px);
}

ol a {
    margin-right: 50px;
    border-bottom: 3px solid transparent;
}


ol a li{
    counter-increment: nav-counter;
    display: inline-flex;
    height: 100%;
    align-items: center;
}

ol a:first-of-type{
    margin-left: 15%;
}

ol a:first-of-type::before{
    counter-set: nav-counter;
}

ol a::before{
    content: "0" counter(nav-counter);
    margin-right: 12px;
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.nav-selected {
    border-bottom: 3px solid white;
}

.line {
    position: relative;
    border-width: 17px;
    left: 30px;
    flex-grow: 1;
    height: 1px;
    opacity: 0.2515;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);     
    z-index: 1;
}

#mobileMenu {
    display: none;
}

#toggle {
    display: none;
}

@media (max-width: 1023px) {
    
    body {
        font-size: 16px;
        line-height: 28px;
    }
    
    h1 {
        line-height: 150px;
    }
    
    h4 {
        font-size: 32px;
        font-synthesis: normal;
        letter-spacing: 2px;
    }
    
    h5 {
        font-size: 20px;
        line-height: normal;
        letter-spacing: 3.375px;
    }
    
    nav {
        margin-top: 0px;
    }
    
    .line {
        visibility: hidden;
    }
    

    ol {
        max-width: 450px;
        font-size: 14px;
        letter-spacing: 2.362px;
    }
    
    ol a {
        margin-right: 8%;
    }   
    
    ol a:first-of-type {
        margin-left: 10%;
    }
    ol a::before {
        content: none;
    }
    
}

@media (max-width: 599px) {
    
    body {
        font-size: 15px;
        line-height: 25px;
    }
    
    nav {
        position: relative;
        width: 100%;
    }
    
    h1 {
        line-height: 100px;
        font-size: 80px;
    }
    
    h4 {
        font-size: 20px;
        font-synthesis: normal;
        letter-spacing: 1.25px;
    }
    
    h5 {
        font-size: 16px;
        line-height: normal;
        letter-spacing: 2.7px;
    }
    
    ol a{
   /*     display: none; */
        margin-left: 12vw;
        height: 16px;
        top: 500px;
        font-size: 16px;
        padding-bottom: 16px;
        padding-top: 16px;
        margin-right: 0px;
}

ol a:first-of-type::before{
    counter-set: nav-counter;
}
    
    ol a:first-of-type {
        margin-left: 12vw;
    }

ol a::before{
    content: "0" counter(nav-counter);
    font-weight: bold;
}
    ol {
        padding-top: 15vh;
        min-height: 100vh;
        display: none;
        flex-direction: column;
        position: absolute;
        flex-wrap: nowrap;
        max-width: 67vw;
        left: 33%;
        background: rgba(255, 255, 255, 0.04);
    }
    
    label > #mobileMenu {
        display: flex;
        position: relative;
        z-index: 1;
        cursor: pointer;
        
    }
    
    nav img {
        margin-left: 24px;
        max-height: 40px;
        max-width: 40px;
    }
    
    .nav-selected {
        border-bottom-style: none;
        border-right-style: solid;
        border-right-width: 100%;
        border-right-color: #FFF;
    }
    
    #toggle {
        display: none;
    }
    
    #toggle:checked ~ ol {
        display: flex;
    }
    
    #toggle:checked ~ label>#mobileMenu {
        content: url("../assets/shared/icon-close.svg");
    }
    
    nav > * { 
        box-shadow: none;
    }
}