html {
    background-image: url(../assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0B0D17;
}

body {
    font-family: 'Barlow', serif;
    font-size: 18px;
    color: #D0D6F9;
    font-weight: 400;
    min-width: 100vw;
    margin: 0px;
}

h1, h2, h3, h4, #sh1 {
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 400;
}
h1 {
    font-size: 150px;
}

h2 {
    font-size: 100px;
}

h3 {
    font-size: 56px;
}

h4 {
    font-size: 32px;
}

h5, #sh2, #sh3, nav {
    font-family: 'Barlow condensed', serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 400;
}

h5 {
    color: #D0D6F9;
    font-size: 28px;
    letter-spacing: 4.75px;
}

#sh2 {
    font-size: 14px;
    letter-spacing: 2.35px;
}

nav {
    display: inline-flex;
    min-width: 100%;
    margin-top: 40px;
    height: 96px;
}

nav > * { 
    margin-top: auto;
    margin-bottom: auto;
    display: inline-flex;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

nav img {
    margin-left: 55px;
    margin-right: 35px;
    max-height: 48px;
    max-width: 48px;
}
ol {
    font-family: 'Barlow Condensed', serif;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
    letter-spacing: 2.7px;
    flex-wrap: wrap;
    padding-left: 0px;
    height: 100%;
    max-width: 830px;
    width: 100%;
    counter-reset: nav-counter;
    background: rgba(255, 255, 255, 0.04);
}


ol li {
    counter-increment: nav-counter;
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 50px;
}

ol li:first-of-type{
    margin-left: 15%;
}

ol li:first-of-type::before{
    counter-set: nav-counter;
}

ol li::before{
    content: "0" counter(nav-counter);
    margin-right: 12px;
    font-weight: bold;
}

.nav-selected {
    border-bottom-style: solid;
    border-bottom-width: 100%;
    border-bottom-color: #FFF;
}

#line {
    position: relative;
    border-width: 17px;
    left: 30px;
    flex-grow: 1;
    height: 1px;
    opacity: 0.2515;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);     
}

#mobileMenu {
    display: none;
}

#toggle {
    display: none;
}

@media (max-width: 1023px) {

    nav {
        margin-top: 0px;
    }
    
    #line {
        visibility: hidden;
    }
    

    ol {
        max-width: 450px;
        font-size: 14px;
        letter-spacing: 2.362px;
    }
    
    ol li {
        margin-right: 8%;
    }   
    
    ol li:first-of-type {
        margin-left: 10%;
    }
    ol li::before {
        content: none;
    }
    
}

@media (max-width: 599px) {
    
    nav {
        position: relative;
        width: 100%;
    }
    ol li {
   /*     display: none; */
        margin-left: 12vw;
        height: 16px;
        top: 500px;
        font-size: 16px;
        padding-bottom: 16px;
        padding-top: 16px;
        margin-right: 0px;
}

ol li:first-of-type::before{
    counter-set: nav-counter;
}
    
    ol li:first-of-type {
        margin-left: 12vw;
    }

ol li::before{
    content: "0" counter(nav-counter);
    font-weight: bold;
}
    ol {
        padding-top: 15vh;
        min-height: 100vh;
        display: none;
        flex-direction: column;
        position: absolute;
        flex-wrap: nowrap;
        max-width: 67vw;
        left: 33%;
        background: rgba(255, 255, 255, 0.04);
        backdrop-filter: blur(40.774227142333984px);
    }
    
    label > #mobileMenu {
        display: flex;
        position: relative;
        z-index: 1;
        cursor: pointer;
        
    }
    
    nav img {
        margin-left: 24px;
        max-height: 40px;
        max-width: 40px;
    }
    
    .nav-selected {
        border-bottom-style: none;
        border-right-style: solid;
        border-right-width: 100%;
        border-right-color: #FFF;
    }
    
    #toggle {
        display: none;
    }
    
    #toggle:checked ~ ol {
        display: flex;
    }
    
    #toggle:checked ~ label>#mobileMenu {
        content: url("../assets/shared/icon-close.svg");
    }
    
    nav > * { 
        box-shadow: none;
        }
}