@import url("general.css");

html {
    background-image: url(../assets/home/background-home-desktop.jpg);
}

.mainBody {
    margin-bottom: 17vh;
}


#mainText {
    width: 444px;
    display: inline-flex;
    padding-right: 0px;
    flex-direction: column;
    align-items: flex-start;
    margin-top: auto;
}

#mainText > * {
    margin: 0px;
    line-height: normal;
}

#mainText > h1 {
    margin-top: 24px;
    margin-bottom: 24px;
}

#button {
    width: 274px;
    height: 274px;
    border-radius: 50%;
    text-align: center;
    background: #fff;
    margin-top: auto;
}

#button a h4 {
    color: #000;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 274px;
}

#button:hover {
    box-shadow: 0px 0 0 88px rgba(255,255,255,0.1036);
}

@media (max-width: 1023px) {

    html {
        background-image: url(../assets/home/background-home-tablet.jpg);
    }
    
    .mainBody {
        min-width: 100%;
        margin-top: 10.35vh;
        margin-bottom: 8.78vh;
    }
    
    #mainText {
        margin-top: 0px;
        font-size: 16px;
        width: 100%;
        max-width: 444px;
    }
    
    #mainText, #mainText > h1{
        text-align: center;
        align-items: center;
    }
    
    
    #button {
        width: 242px;
        height: 242px;
        line-height: 242px;
    }

    #button a h4 {
        line-height: 242px;
    }
    
    #button:hover {
        box-shadow: 0px 0 0 66px rgba(255,255,255,0.1036);
    }
}
@media (max-width: 599px) {

    html {
        background-image: url(../assets/home/background-home-mobile.jpg);
    }
    
    .mainBody {
        margin-top: 24px;
        margin-bottom: 0px;
        min-width: 87.2vw;
    }
    
    #mainText {
        font-size: 15px;
    }

    #mainText > h1 {
        margin-bottom: 16px;
        margin-top: 16px;
    }
    
    
    
    #button {
        width: 150px;
        height: 150px;
        line-height: 150px;
    }

    #button a h4 {
        line-height: 150px;
    }
    
    #button:hover {
        box-shadow: 0px 0 0 50px rgba(255,255,255,0.1036);
    }
    
}    