@import "general.css";

html {
    background-image: linear-gradient(rgba(11,13,23,0.25),rgba(11,13,23,0.25)),
                      url(../assets/technology/background-technology-desktop.jpg);
}

.mainBody {
    margin-bottom: 10vh;
}

.techButtons, .techDesc, .techPic, .techSelected {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.techButtons {
    justify-content: space-between;
    height: 305px;
    min-width: 80px;
    margin-top: auto;
    margin-bottom: auto;
}

.techBody {
    display: inline-flex;
    width: 60%;
    justify-content: space-between;
}

.techDesc {
    justify-content: center;
    height: auto;
    width: 100%;
    max-width: 470px;
    margin-bottom: auto;
    margin-top: 15.2vh;
}

.techPic {
    justify-content: center;
    height: 100%;
    width:  23.5vw;
    display: inline-flex;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

.techPicImg {
    width: 35vw;
    max-width: 515px;
    margin-left: auto;
}

h5 {
    margin-left: 11.5vw;
    margin-right: auto;
    height: 28px;
    margin-bottom: 0px;
    margin-top: 76px;
}

h3 {
    margin-top: 11px;
    margin-bottom: 17px;
    line-height: 64px;
    width: 100%;
}

.techButtons {
    counter-reset: tech-counter;
}

.checkmark {
    counter-increment: tech-counter;
    font-family: 'Bellefair';
    text-align: center;
    color: white;
    cursor: pointer;
    max-height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,0.25);
    font-size: 32px;
    line-height: 80px;
}

.checkmark::before {
    content: counter(tech-counter);
}

.buttons {
    display: none;
}
.buttons:hover + label {
    border: 1px solid white;
}

.buttons:checked + label {
    border: 1px solid white;
    background: white;
    color: black;
}

.landscape {
    display: none;
}

@media (max-width: 1023px) {

html {
    background-image: linear-gradient(rgba(11,13,23,0.25),rgba(11,13,23,0.25)),
                      url(../assets/technology/background-technology-tablet.jpg);
}
    
    .mainBody {
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 5.85vh;
        margin-bottom: 9.5vh;
    }
    
    .portrait {
        display: none;
    }
    
    h5 {
        margin-top: 40px;
    }
    
    
    .landscape {
        display: inline-flex;
        min-width: 100vw;
    }
    
    .techBody {
        flex-direction: column;
        flex-grow: 1;
        margin-top: 4.8vh;
        height: auto;
        width: 100%;
        max-width: 458px;
    }
    
    .techButtons {
        height: auto;
        flex-direction: row;
        width: 212px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .techDesc {
        margin-top: 0px;
        max-width: 100%;
        margin-bottom: auto;
        height: auto;
    }
    
    .techPic {
        height: auto;
        width: 100vw;
        margin: 0px;
    }
    
    .techPicImg {
        min-width: 100%;
        max-width: none;
    }
    
    .checkmark {
        max-height: 60px;
        width: 60px;
        border-radius: 50%;
        font-size: 24px;
        line-height: 60px;
    }
    
    .subh3 {
        margin-top: 4.1vh;
    }
    
    h3 {
        margin-top: 16px;
        margin-bottom: 16px;
        line-height: 46px;
    }
     
    p {
        display: inline-block;
    }
}

@media (max-width: 599px) {
    
    html {
        background-image: linear-gradient(rgba(11,13,23,0.25),rgba(11,13,23,0.25)),
                          url(../assets/technology/background-technology-mobile.jpg);
    }
    
    h5 {
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .mainBody {
        margin-top: 32px;
        width: 87.2vw;
        margin-bottom: 0px;
        justify-content: flex-end;
    }
    
    .techBody {
        margin-top: 34px;
        justify-content: flex-start;
    }
    
    .checkmark {
        max-height: 40px;
        width: 40px;
        border-radius: 50%;
        font-size: 16px;
        line-height: 40px;
    }
    
    .subh3 {
        margin-top: 0px;
        margin-bottom: 9px;
    }
    
    .mainBody .techBody .techDesc .techSelected h3 {
        margin-top: 0px;
        margin-bottom: 16px;
        line-height: 24px;
    }
    
    .techButtons {
        max-width: 152px;
    }
    
    .techDesc {
        margin-top: 26px;
        justify-content: flex-start;
        margin-bottom: 0px;
    }
    
    .techSelected {
       margin: 0px;
        padding: 0px;
        justify-content: space-between;
    }
}